<form>
<h2>Sistema de Conteo de Votos</h2>

<p>Cantidad de Votos: <input type="text" name="ctdVoto" /></p>
<p></p>
<p>Tipo de Voto: <input type="text" name="TipoVoto" /></p>
<p>Mesa: <input type="text" name="Mesa"></p>
<p>Recinto: <input type="text" name="Recinto"></p>
<p>Departamento: <input type="text" name="Dpto"></p>

  
  <p><input type="submit" value="Enviar datos"></p>

<button>Enviar informacion</button>
</form>
<div>
<ul>
 <li>  <a routerLink="/elvis">Elvis</a></li>
 <li>  <a routerLink="/user">User</a></li>
</ul>
</div>

<router-outlet></router-outlet>
<!--app-elvis nick="elvis"></app-elvis>.
<app-user></app-user>-->